.cart{
  position: relative;
  animation-name: cartanim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes cartanim {

  0%{
      left:0px;    
  }
  50%{
          left:25px; 
  }
  100%{
          left:0px; 
  }

}